<html>
<head th:include="style/style.html">
</head>
<body th:each="utente: ${lista_utenti.utenti}">
	<div class="mostra_risultati">
		<h2 th:text="${utente.getUsername()}"></h2>
		<div th:each="post: ${utente.posts}"
			class="post mdl-card mdl-shadow--2dp">
			<div th:switch="${post.getTipo_post()}">
				<div id="immagine" th:case="'IMMAGINE'"
					th:style="'background-image:url(' + ${post.getMedia_url()} + ');background-size:cover'"
					class="mdl-card__title"></div>
				<div id="video" th:case="'VIDEO'" class="mdl-card__title">
					<video autoplay controls>
						<source th:src="${post.getMedia_url()}">
					</video>
				</div>

			</div>

			<div th:text="${post.getDescrizione()}"
				class="mdl-card__supporting-text"></div>
			<div class="mdl-card__actions mdl-card--border">
				<div th:switch="${post.getTipo_post()}">
					<p th:case="'IMMAGINE'">Altezza: <b th:text="${post.getAltezza()}"></b><br>
					Larghezza: <b th:text="${post.getLarghezza()}"></b><br>
					Dimensione Immagine: <b th:text="${post.getDimensione()}"></b></p>
					<p th:case="'VIDEO'">
					Dimensione Video: <b th:text="${post.getDimensione()}"></b></p>
				</div>

			</div>
		</div>
	</div>
</body>
</html>